name: Docker Image CI

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    # Checkout source code
    - uses: actions/checkout@v4
      with:
          ref: 'main'

    # Login to Docker Hub
    - name: Docker Login
      uses: docker/login-action@v3.3.0
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Determine image tag
      id: tag
      run: |
        echo "tag=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT

    # Push image to registry
    - name: Build and push Docker images
      uses: docker/build-push-action@v6.9.0
      with:
        push: true
        build-args: |
          OEDATAREP_RELEASE=${{ vars.OEDATAREP_RELEASE }}
        tags: oedatarep/oedatarep-invenio-rdm:${{ steps.tag.outputs.tag }}
